@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.whatsapp__hidden {
  visibility: hidden;
  translate: 0 30px;
  opacity: 0;
  transition: visibility 0s linear 305ms, translate 300ms, opacity 300ms, rotate 300ms;
}

.whatsapp__show {
  visibility: visible;
  translate: 0 -30px;
  opacity: 1;
  transition: visibility 0s, translate 300ms, opacity 300ms, rotate 300ms;
}

